<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <h1>Add todos!!!!!!</h1>
                {%if messages%}

{%for mes in messages%}

{{mes}}

{%endfor%}
{%endif%}
                <form action="" method="post" class="p-4 border shadow">
                    {%csrf_token%}
                    {{form.as_p}}
                    <button type="submit" class="btn btn-outline-info">ADD TODO</button>
                   </form> 
            </div>
            <div class="col-3"></div>
        </div>
    </div>
</body>
</html>